/*font*/
a, div, h1, p { font-family: 'Roboto', sans-serif; }

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(39, 39, 39);
    border-radius: 10px;
}
/* ============================= */
#container {
    position:relative;
}

#header {
    width: 99.89vw;
    position: relative;
    margin-left: -50vw;
    margin-bottom: 25px;
    height: auto;
    left: 50%;
    text-align: center;
    background-color: rgb(85, 85, 85);
    border: 1px solid rgb(150, 150, 150);
}

.centerText {
    text-align: center;
}

#nav {
    z-index: 3000;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.514);
    border: 1px solid rgb(32, 32, 32, 0.514);
    position: fixed;
    margin-left: -0.5vw;
    top: 0;
    width: 100.1vw;
}

#current {
    font-size: 35px;
    text-decoration: underline;
    color: white;
    cursor: default;
    margin: 10px;
}

#header {
    width: 99.89vw;
    position: relative;
    margin-left: -50vw;
    margin-bottom: 25px;
    margin-top: 40px;
    height: auto;
    left: 50%;
    text-align: center;
    background-color: rgb(85, 85, 85);
    border: 1px solid rgb(150, 150, 150);
}

#shutdown {
    width: 20vw;
    height: auto;
    margin-left: 40%;
    text-align: center;
    background-color: rgb(170, 0, 0);
    border: 1px solid rgb(66, 0, 0);
}

.navButtons:hover {
    font-size: 35px;
    color: black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    text-decoration: underline;
}

#current:hover {
    font-size: 35px;
    text-decoration: underline;
    color: black;
    background-color: white;
    cursor: default;
    margin: 10px;
}

.navButtons {
    font-size: 35px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

#nav {
    z-index: 3000;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.514);
    border: 1px solid rgb(32, 32, 32, 0.514);
    position: fixed;
    margin-left: -0.5vw;
    top: 0;
    width: 100.1vw;
}

#tagline {
    font-style: italic;
}

#cmds {
    margin-left: 26%;
    width: 50vw;
    background-color: rgb(85, 85, 85);
    border: 1px solid rgb(150, 150, 150);
}

#link {font-weight: bold; cursor: pointer; text-decoration: underline; color: white;}