/*font*/
a, div, h1, p { font-family: 'Roboto', sans-serif; }

body { background-image: linear-gradient(0deg, #0E24F1, #7a0006); }

#container {
    position:relative;
}

#header {
    width: 99.47vw;
    position: relative;
    margin-left: -50vw;
    margin-bottom: 25px;
    height: auto;
    left: 50%;
    text-align: center;
    background-color: rgb(138, 0, 0);
    border: 1px solid rgb(182, 0, 70);
}

.centerText {
    text-align: center;
}

#tagline {
    font-style: italic;
}
#link {
    font-style: italic;
    color: white;
    cursor: pointer;
}

#navButtons {
    font-size: 35px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

#nav {
    width: 99.47vw;
    position: relative;
    margin-left: -50vw;
    height: auto;
    left: 50%;
    background-color: rgb(141, 0, 59);
    border: 1px solid rgb(165, 0, 41);
}

#current {
    font-size: 35px;
    text-decoration: underline;
    color: white;
    cursor: default;
    margin: 10px;
}