/*font*/
a, div, h1, p { font-family: 'Roboto', sans-serif; }

/* Gradient BG */
body { background-image: linear-gradient(0deg, #0E24F1, #7a0006); }

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102);
    border-radius: 10px;
}
/* ============================= */


#container {
    position:relative;
}

#tagline {
    font-style: italic;
}
#link {font-weight: bold; cursor: pointer; text-decoration: underline; color: white;}

#header {
    width: 99.4vw;
    position: relative;
    margin-left: -50vw;
    margin-bottom: 25px;
    margin-top: 40px;
    height: auto;
    left: 50%;
    text-align: center;
    background-color: rgb(138, 0, 0);
    border: 1px solid rgb(182, 0, 70);
}

.centerText {
    text-align: center;
    margin-top: 100px;
}

.navButtons {
    font-size: 35px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

.navButtons:hover {
    font-size: 35px;
    color: black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    text-decoration: underline;
}

#nav {
    z-index: 3000;
    overflow: hidden;
    background-color: rgba(141, 0, 59, 0.514);
    border: 1px solid rgba(165, 0, 41, 0.514);
    position: fixed;
    margin-left: -0.5vw;
    top: 0;
    width: 100.1vw;
}

#current {
    font-size: 35px;
    text-decoration: underline;
    color: white;
    cursor: default;
    margin: 10px;
}

#current:hover {
    font-size: 35px;
    text-decoration: underline;
    color: black;
    background-color: white;
    cursor: default;
    margin: 10px;
}