/*font*/
a, div, h1, p { font-family: 'Roboto', sans-serif; }
#container {
    position:relative;
}
#header {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-bottom: 25px;
    height: 100px;
    left: 50%;
    text-align: center;
    background-color: rgb(85, 85, 85);
    border: 1px solid rgb(150, 150, 150);
}
.centerText {
    text-align: center;
}
#tagline {
    font-style: italic;
}
#link {
    font-style: italic;
    color: white;
    cursor: pointer;
}