* {
  font-family: 'Mukta', sans-serif;
  text-shadow: 2px 2px 2px #000000;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
  background-color: #00141A;
  border-radius: 8px;
  margin: 2px;
  padding: 2px;
  width: max-content;
}

a:hover {
  color: #F0F0F0;
}

body {
  background-color: #001C25;
  color: #FFFFFF
}

header {
  color: white;
  padding: 10px 0px;
  background-color: black;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
}

main {
  margin-top: 55px;
}

.item {
  display: flex;
  align-items: center;
}
