/*font*/
a, div, h1, p { font-family: 'Roboto', sans-serif; color: #3cff00;}

body {background-color: #000000;}

#container {
    position:relative;
}

#header {
    width: 99.89vw;
    position: relative;
    margin-left: -50vw;
    margin-bottom: 25px;
    margin-top: 40px;
    height: auto;
    left: 50%;
    text-align: center;
    background-color: rgb(85, 85, 85);
    border: 1px solid rgb(150, 150, 150);
}

.centerText {
    text-align: center;
    margin-top: 100px;
}

#navButtons {
    font-size: 35px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

#nav {
    overflow: hidden;
    background-color: rgba(46, 46, 46, 0.514);
    border: 1px solid rgba(90, 90, 90, 0.514);
    position: fixed;
    margin-left: -0.5vw;
    top: 0;
    width: 99.98vw;
}

#title {
    font-size: 35px;
    cursor: default;
    margin: 10px;
}

#smalltext {font-size: 10px;}

#link {font-weight: bold; cursor: pointer; text-decoration: underline; color: white;}

/* angel's weird ass formatting | cheese: quirky*/
.no-underline { text-decoration: none;  }
#list { display: flex; flex: 0 0 auto; flex-direction: column; margin: 4px; position: absolute; top: 44px; }
#list *:not(a) { margin: 2px; padding: 2px 4px 2px 28px; background-repeat: no-repeat; background-size: 20px; background-position: 4px 0; background-color: #808080; color: white; font-size: 16px; border-radius: 3px; }
.back { background-image: url(icons/back.png); }
.folder { background-image: url(icons/folder.png); }
.file { background-image: url(icons/file.png); }
/* cheese added */
.site { background-image: url(icons/site.png); }
.html { background-image: url(icons/html.png); }
.css { background-image: url(icons/css.png); }
.js { background-image: url(icons/js.png); }
.audio { background-image: url(icons/audio.png); }